.home-container {
  font-size: 14px;
  padding: .5em;
}

.ranking-list {
  padding-right: 1em;
}

.loading-more {
  text-align: right;
}

.loading-more>.loading-more-link {
  font-size: 12px;
  margin-right: .5em;
}

/* 轮播图 */
.carousel{
  width: 90%;
  margin: 0 auto;
  min-width: 16em;
  /* box-sizing: content-box; */
}
[nz-carousel-content] {
  text-align: center;
  width: 100%;
  height: 20em;
  /* line-height: 20em; */
  background: #108066;
  color: #fff;
  overflow: hidden;
}
h3 {
  color: #fff;
}
